{% extends 'base.html' %}
{% block title %}Contact | Portfolio{% endblock %}
{% block content %}
    <section class="contact">
        <h1>Contact</h1>
        <p><strong>Name:</strong> Israfil Palabay</p>
        <p><strong>Email:</strong> israfildayopalabay21@gmail.com</p>
        <p><strong>University:</strong> Polytechnic University of the Philippines</p>
        <p><strong>Portfolio:</strong> <a href="https://aceandgarly-savethedate.my.canva.site/portfolio" target="_blank" rel="noopener">Portfolio</a></p>
    </section>
{% endblock %}

